.popup-container {
    position: fixed;
    top: 0;
    right: -100%;
    /* Hide the popup off-screen initially */
    width: 75%;
    /* Default width for full-size screens */
    height: 100%;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 3;
  }
  
  .popup-container.open {
    right: 0;
  }
  
  .toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    z-index: 10000;
  }
  
  .popup-content {
    padding: 10px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* display: none; */
    z-index: 3;
  }
  
  .popup-container.open+.overlay {
    display: block;
  }
  
  .CancelButton {
    background-color: #FF0000 !important;
    color: white !important;
    border: unset !important;
  }
  .AdminPicWidth{
    width: 40px;
  }
  
  .CancelButton:hover {
    background-color: #c60e0e !important;
  }
  
  .buttonStart {
    background-color: #00C48F !important;
    color: white !important;
    border: unset !important;
  }
  
  .buttonStart:hover {
    background-color: #0a8967 !important;
  }
  
  .invoiceButton {
    background-color: #00827B !important;
    white-space: nowrap;
  }
  
  .invoiceButton:hover {
    background-color: #115d59 !important;
  }
  
  .buttonEnd {
    background-color: rgb(201, 238, 255) !important;
    color: black !important;
    border: unset !important;
  }
  
  .buttonEnd:hover {
    background-color: rgb(96, 201, 250) !important;
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .popup-container {
  
      /* Adjust the width for small screens */
    }
  }
  
  .loading {
    position: relative;
  }
  
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(149, 148, 148, 0.8);
    /* Semi-transparent white background */
    z-index: 1;
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 2;
    /* Add styles for the loader */
  }
  
  
  .right_side_modal_body {
    overflow-y: auto;
    height: 65vh;
    padding: 12px;
  }
  
  .WidthUserModalPhone {
    width: 410px;
  }
  
  .Height {
    height: 723px;
  }
  
  .right_side_modal_body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  
  .right_side_modal_body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  
  .right_side_modal_body::-webkit-scrollbar-thumb {
    background: #2D3F4E;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .right_side_modal_body::-webkit-scrollbar-thumb:hover {
    background: #2D3F4E;
  }
  
  
  
  .image_right_side_modal {
    width: 155px;
    height: 172px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .buttonReset {
    background-color: rgb(126, 251, 126) !important;
    border: unset !important;
  }
  
  .buttonReset:hover {
    background-color: #16b116 !important;
  }
  
  
  
  .Gap-3 {
    gap: 3%;
  }
  
  .WidthLabel {
    width: 371px;
  }
  
  
  @media screen and (max-width: 1496px) {
    .right_side_modal_body {
      height: 84vh;
    }
  }
  
  @media screen and (max-width: 1474px) {
    .right_side_modal_body {
      height: 76vh;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .right_side_modal_body {
      height: 68vh;
    }
  }
  
  @media screen and (max-width: 752px) {
    .right_side_modal_body {
      height: 68vh;
    }
  }
  
  @media screen and (max-width: 530px) {
    .right_side_modal_body {
      height: 64vh;
    }
  }
  
  @media screen and (max-width: 421px) {
    .right_side_modal_body {
      height: 61vh;
    }
  }
  
  @media screen and (max-width: 320px) {
    .right_side_modal_body {
      height: 69vh;
    }
  }
  
  .modalContent {
    width: 50%;
  }
  
  .outerWrapperHoverEvents {
    background-color: rgba(0, 0, 0, 0.363);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 5px;
    display: none;
  }
  
  .hoverEventImage:hover .outerWrapperHoverEvents {
    display: flex;
  }
  
  .ViewIconEvents {
    cursor: pointer;
    margin-left: 11px;
    font-size: 30px;
    color: #deece7;
    margin: 4px 5px 5px 5px;
  }
  
  .deleteIconEvents {
    cursor: pointer;
    color: #f36262;
    font-size: 20px;
    margin: 0px 2px 7px 0px;
  }
  
  .label_event {
    font-weight: 600;
  }
  
  .label_event span {
    font-weight: 500;
  }